@mixin form {
.myForm {
    width: 360px;
    padding: 10px;
    text-align: start;
    margin: 0 auto;
}

input {
    width: 100%;
    background-color: #EFFDF3;
    border: 2px solid #EFFDF3;
    padding: 10px;
    color: #2C2C2C;
    border-bottom: #4CEEA7 2px solid;
}

input[type="email"],
input[type="text"] {
    margin: 10px 20px 20px 0px;
    width: 100%;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="message"]::placeholder {
    color: #2C2C2C;
}

input[type="message"] {
    height: 200px;
    margin-bottom: 10px;
    border: 2px #4CEEA7 solid;
    width: 98%;
}
}