// hero text
.hero,
.blog {
        &__link {
            font-family: 'Playfair Display', 'serif';
            font-size: 20px;
            line-height: 29px;
            letter-spacing: 1px;
            color: #2C2C2C;
            text-decoration: none;
            text-transform: uppercase;
        }

        &__title {
            font-family: 'Playfair Display', 'serif';
            font-size: 100px;
            color: #2C2C2C;
            text-transform: uppercase;
        }
}

// heading text
.intro,
.contact {
        &__title {
            font-family: 'Playfair Display', 'serif';
            font-size: 42px;
            color: #2C2C2C;
            text-transform: uppercase;
        }
}

.container,
.navigation,
.profile,
.aside,
.article,
.comments {
        &__title {
            font-family: 'Playfair Display', 'serif';
            font-size: 32px;
            color: #2C2C2C;
            text-transform: uppercase;
        }
}

.aside {
        &__title {
            font-size: 20px;
        }

        &__link {
            text-decoration: none;
            color: #2C2C2C;
            font-style: italic;
        }
}



// body text
.intro,
.container,
.navigation,
.profile,
.aside,
.article,
.comments {
        &__text {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            line-height: 32px;
            text-align: left;
        }
}

.aside {
        &__text {
            font-size: 15px;
            line-height: 20px;
        }

        &__item {
            font-family: 'Roboto', sans-serif;
            font-size: 15px;

        }
    }

// button text

button {
font-family: 'Playfair Display', 'serif';
font-size: 20px;
letter-spacing: 1px;
color: #2C2C2C;
text-transform: uppercase;
}


// footer text
.footer  {
        &__text {
            font-family: 'Roboto', sans-serif;
            font-size: 10px;
            color: #FFFF;
            margin: 0;
        }
}

// blog css

.comments {
font-family: 'Roboto', sans-serif;

        &__date {
            font-size: 15px;
            
        }

}