@import '__setup';
@import '__typography';
@import '__mixins';



body {
    background-color: #EFFDF3;
}

img {
    width: 100%;
    display: inline-block;
}


.hero {
    background-image: url(/captured-final-assets/header-image.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    // display: flex;
    // justify-content: flex-end;
    position: relative;
    background-position: left;

        &__container {
            display: flex;
            justify-content: flex-end;
        }

        &__nav {
            margin: 0 30px 0 0 ;
        }

        &__list {
            list-style: none;
            display: flex;
            flex-direction: row;
        }

        &__item {
            margin: 0 30px 30px 0;
        }

        &__img {
            position: absolute;
            // left: 60%;
            right: 0;
            width: 40%; 
            bottom: -10%;
            background-color: #FDFA60;
            padding: 30px 0 30px 30px;
        }

        &__title {
            position: absolute;
            align-self: center;
            left: 25%;
            top: 55%;
        }

}

.intro {
    padding: 150px 100px 100px 100px;
    text-align: center;
    background-color: #EFFDF3;
}

// button css

button,
.button {
    background-color: #4CEEA7;
    border: none;
    padding: 10px;
    
        &__comments {
            width:calc(100% - 20px);
        }

        &__contact {
            width: 100%;
        }
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin: auto;
    /* max-width: 960px; */
    width: 100%;
    // border: black 1px dotted;
    background-color: white;

        &__content {
            align-content: center;
            justify-content: center;
            align-content: center;
            // border: 1px solid rgb(139, 135, 135);
            flex-basis: 1;
            justify-content: center;
            /* margin-bottom: 1em; */
            height: 35vw;
            width: 50%;
            position: relative;
        }

        &__info,
        &__info2 {
            padding: 0 60px 0 60px;
        }

        &__info2 {
            text-align: right;
        }

        &__img {
            box-shadow: 30px 30px #FDFA60;
            width: 90%;
            position: absolute;
            top: -10%;
        }

        &__img2 {
            box-shadow: -30px 30px #FDFA60;
            width: 90%;
            right: 0;
            position: absolute;
            bottom: 20%;
        }

}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;
}

.navigation {
        background-color: #EFFDF3;

            &__list {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                list-style: none;
                text-align: left;
                margin: 0;
                padding: 0;
                padding: 70px 0 70px 0;
            }

            &__content {
                padding: 0 0 0 30px;
                background-color:#EFFDF3 ;
            }

            &__item {
                width: calc((100%/2) - 20px);
                /* margin: 10px; */
                min-width: 220px;
                background-color: #EFFDF3;
                text-align: left;
            }
            
            &__title,
            &__icon2 {
                 position: relative;
            }

            &__title::before {
                 content: "";
                font-size: 20px;
                width: 35px;
                height: 35px;
                border-radius: 100px;
                position: absolute;
                left: -40px;
                top: 5px;
                background: #4CEEA7;
                display: flex; 
                justify-content: center;
                align-items: center;
            }

            &__icon1::before {
                content: "\f030";
                font-family: "FontAwesome";
            }

             &__icon2::before {
                content: "\f0c0";
                font-family: "FontAwesome";
            }

             &__icon3::before {
                content: "\f15b";
                font-family: "FontAwesome";
            }

             &__icon4::before {
                content: "\f095";
                font-family: "FontAwesome";
            }

}

.banner {
    background-image: url(/captured-final-assets/banner.jpg);
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
}


.profile,
.comments {
    padding: 50px 0 50px 0;
    background: #EFFDF3;

        &__items {
            display: flex;
            justify-content: space-between;
        }

        &__image {
            flex: 1 0 25%;
            box-shadow: 20px 20px #FDFA60;
            margin-right: 40px; 
        }

        &__content {
            flex: 1 0 75%;
            padding-left: 30px;
        }
}

// .comments {
//     margin-left: 34%;

//         &__image {
//             box-shadow: none;
//             flex: 1 0 1%;
//         }

// }

.gallery{
    padding-top: 30px;

        &__items {
            display: flex;
            padding: 0;
            margin: 0;
            justify-content: space-between;
        }

        &__img {
            list-style: none;
            width: 30%;
            // padding: 10px;
        }

}

footer {
    text-align: center;
    background: #2C2C2C;
    margin-top: 40px;
}



// blog page starts 

.blog {
    background-image: url(/captured-final-assets/blog-header.jpg);
    background-size: cover;
    // height: 60vh;
    
         &__img {
            position: absolute;
            // left: 60%;
            right: 0;
            width: calc(70% - 80px);
            top: 350px;
            padding: 0;
            box-shadow: -40px 40px #FDFA60;
        }

        &__main {
            display: flex;
            background-color: #EFFDF3;
            justify-content: space-between;
            padding: 60px 0 0 0;


        }

        &__article {
            box-shadow: -5px 5px #FDFA60;
            display: flex;
            flex-direction: column;
            width: 70%;
            padding: 170px 50px 0 50px;
        }


        &__title {
            text-align: center;
            margin-top: 140px;
        }


}

aside {
    width: 30%;
    margin: 0 70px 0 0;

}

.aside {
        &__about {
            background-color: #FAFAFA;
            margin-left: 70px;
            padding: 20px;
        }
}

.comments {
    margin-left: 34%;
    padding-top: 30px;
    // border: 4px red solid;
    background-color: #EFFDF3;

        &__items {
            display: flex;
            // flex-direction: column;
            padding: 0;
            margin: 0;
            justify-content: space-between;

        }

        &__content {
            flex: 1 0 80%;
            padding-left: 10px;
            margin-bottom: 60px;
        }

        &__image {
            flex: 1 0 1%;
            box-shadow: none;
            display: inline;
            align-content: center;
            align-self: center;
            margin: 0;
            padding: 0;
        }
    }

.form {
    display: flex;
    flex-direction: column;
    // width: 100%;
    margin-left: 34%;
    align-items: left;
    padding: 0;

        &__info {
            display: flex;
            justify-content: left;
            // width: 100%;
        }
}
 @include form




//  contact css

.contact {
    background-image: url(/captured-final-assets/contact-header.jpg);
    background-size: cover;

            &__title {
            text-align: right;
            // border: red solid 3px;
            margin-top: 250px;
            width: 100%;
            margin-right: 390px;
        }
}


.contact__form {
    position: absolute;
    // left: 60%;
    right: 0;
    height: 400px;
    width: calc(70% - 80px);
    top: 400px;
    padding: 20px 30px 30px 30px;
    box-shadow: -40px 40px #FDFA60;
    background-color: #FAFAFA;


}

input {
    background-color: #FAFAFA;
}