html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero__link,
.blog__link {
  font-family: 'Playfair Display', 'serif';
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #2C2C2C;
  text-decoration: none;
  text-transform: uppercase;
}

.hero__title,
.blog__title {
  font-family: 'Playfair Display', 'serif';
  font-size: 100px;
  color: #2C2C2C;
  text-transform: uppercase;
}

.intro__title {
  font-family: 'Playfair Display', 'serif';
  font-size: 42px;
  color: #2C2C2C;
  text-transform: uppercase;
}

.container__title,
.navigation__title,
.profile__title,
.aside__title,
.article__title,
.comments__title {
  font-family: 'Playfair Display', 'serif';
  font-size: 32px;
  color: #2C2C2C;
  text-transform: uppercase;
}

.aside__title {
  font-size: 20px;
}

.aside__link {
  text-decoration: none;
  color: #2C2C2C;
  font-style: italic;
}

.intro__text,
.container__text,
.navigation__text,
.profile__text,
.aside__text,
.article__text,
.comments__text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
}

.aside__text {
  font-size: 15px;
  line-height: 20px;
}

.aside__item {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

button {
  font-family: 'Playfair Display', 'serif';
  font-size: 20px;
  letter-spacing: 1px;
  color: #2C2C2C;
  text-transform: uppercase;
}

.footer__text {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: #FFFF;
  margin: 0;
}

.comments {
  font-family: 'Roboto', sans-serif;
}

.comments__date {
  font-size: 15px;
}

body {
  background-color: #EFFDF3;
}

img {
  width: 100%;
  display: inline-block;
}

.hero {
  background-image: url(/captured-final-assets/header-image.jpg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: left;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero__nav {
  margin: 0 30px 0 0;
}

.hero__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero__item {
  margin: 0 30px 30px 0;
}

.hero__img {
  position: absolute;
  right: 0;
  width: 40%;
  bottom: -10%;
  background-color: #FDFA60;
  padding: 30px 0 30px 30px;
}

.hero__title {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  left: 25%;
  top: 55%;
}

.intro {
  padding: 150px 100px 100px 100px;
  text-align: center;
  background-color: #EFFDF3;
}

button,
.button {
  background-color: #4CEEA7;
  border: none;
  padding: 10px;
}

button__comments,
.button__comments {
  width: calc(100% - 20px);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* justify-content: space-between; */
  margin: auto;
  /* max-width: 960px; */
  width: 100%;
  background-color: white;
}

.container__content {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-content: center;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  justify-content: center;
  /* margin-bottom: 1em; */
  height: 35vw;
  width: 50%;
  position: relative;
}

.container__info, .container__info2 {
  padding: 0 60px 0 60px;
}

.container__info2 {
  text-align: right;
}

.container__img {
  -webkit-box-shadow: 30px 30px #FDFA60;
          box-shadow: 30px 30px #FDFA60;
  width: 90%;
  position: absolute;
  top: -10%;
}

.container__img2 {
  -webkit-box-shadow: -30px 30px #FDFA60;
          box-shadow: -30px 30px #FDFA60;
  width: 90%;
  right: 0;
  position: absolute;
  bottom: 20%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
}

.navigation {
  background-color: #EFFDF3;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  padding: 70px 0 70px 0;
}

.navigation__content {
  padding: 0 0 0 30px;
  background-color: #EFFDF3;
}

.navigation__item {
  width: calc((100%/2) - 20px);
  /* margin: 10px; */
  min-width: 220px;
  background-color: #EFFDF3;
  text-align: left;
}

.navigation__title, .navigation__icon2 {
  position: relative;
}

.navigation__title::before {
  content: "";
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  position: absolute;
  left: -40px;
  top: 5px;
  background: #4CEEA7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__icon1::before {
  content: "\f030";
  font-family: "FontAwesome";
}

.navigation__icon2::before {
  content: "\f0c0";
  font-family: "FontAwesome";
}

.navigation__icon3::before {
  content: "\f15b";
  font-family: "FontAwesome";
}

.navigation__icon4::before {
  content: "\f095";
  font-family: "FontAwesome";
}

.banner {
  background-image: url(/captured-final-assets/banner.jpg);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.profile,
.comments {
  padding: 50px 0 50px 0;
  background: #EFFDF3;
}

.profile__items,
.comments__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile__image,
.comments__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  -webkit-box-shadow: 20px 20px #FDFA60;
          box-shadow: 20px 20px #FDFA60;
  margin-right: 40px;
}

.profile__content,
.comments__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 75%;
          flex: 1 0 75%;
  padding-left: 30px;
}

.gallery {
  padding-top: 30px;
}

.gallery__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__img {
  list-style: none;
  width: 30%;
}

footer {
  text-align: center;
  background: #2C2C2C;
  margin-top: 40px;
}

.blog {
  background-image: url(/captured-final-assets/blog-header.jpg);
  background-size: cover;
}

.blog__img {
  position: absolute;
  right: 0;
  width: calc(70% - 80px);
  top: 350px;
  padding: 0;
  -webkit-box-shadow: -40px 40px #FDFA60;
          box-shadow: -40px 40px #FDFA60;
}

.blog__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EFFDF3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0 0 0;
}

.blog__article {
  -webkit-box-shadow: -5px 5px #FDFA60;
          box-shadow: -5px 5px #FDFA60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  padding: 40px 50px 0 50px;
}

.blog__title {
  text-align: center;
  margin-top: 140px;
}

aside {
  width: 30%;
  margin: 0 70px 0 0;
}

.aside__about {
  background-color: #FAFAFA;
  margin-left: 70px;
  padding: 20px;
}

.comments {
  margin-left: 34%;
  width: 100%;
  padding-top: 30px;
  background-color: #EFFDF3;
}

.comments__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 80%;
          flex: 1 0 80%;
  padding-left: 10px;
  margin-bottom: 60px;
}

.comments__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1%;
          flex: 1 0 1%;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: inline;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
  padding: 0;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 34%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 0;
}

.form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
}

form {
  margin: 0;
  width: 100%;
}

.myForm {
  width: 360px;
  padding: 10px;
  text-align: start;
  margin: 0 auto;
}

input {
  width: 100%;
  background-color: #EFFDF3;
  border: 2px solid #EFFDF3;
  padding: 10px;
  color: #4CEEA7;
  border-bottom: #4CEEA7 2px solid;
}

input[type="email"],
input[type="text"] {
  margin: 10px 20px 20px 0px;
  width: 100%;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="message"]::-webkit-input-placeholder {
  color: #2C2C2C;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="message"]:-ms-input-placeholder {
  color: #2C2C2C;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="message"]::-ms-input-placeholder {
  color: #2C2C2C;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="message"]::placeholder {
  color: #2C2C2C;
}

input[type="message"] {
  height: 200px;
  margin-bottom: 10px;
  border: 2px #4CEEA7 solid;
  width: 98%;
}
