html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero__link {
  font-family: 'Playfair Display', 'serif';
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #2C2C2C;
  text-decoration: none;
  text-transform: uppercase;
}

.hero__text {
  font-family: 'Playfair Display', 'serif';
  font-size: 100px;
  color: #2C2C2C;
  text-transform: uppercase;
}

.intro__title {
  font-family: 'Playfair Display', 'serif';
  font-size: 42px;
  color: #2C2C2C;
}

.container__title,
.navigation__title,
.profile__title {
  font-family: 'Playfair Display', 'serif';
  font-size: 32px;
  color: #2C2C2C;
  text-transform: uppercase;
}

.intro__text,
.container__text,
.navigation__text,
.profile__text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.footer__text {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: #FFFF;
  margin: 0;
}

body {
  background-color: white;
}

img {
  width: 100%;
  display: block;
}

.hero {
  background-image: url(/captured-final-assets/header-image.jpg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  background-position: left;
}

.hero__nav {
  margin: 0 30px 0 0;
}

.hero__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero__item {
  margin: 0 30px 30px 0;
}

.hero__img {
  position: absolute;
  right: 0;
  width: 40%;
  bottom: -10%;
  background-color: #fdfa60;
  padding: 30px 0 30px 30px;
}

.hero__title {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  left: 25%;
  top: 55%;
}

.intro {
  border: 2px solid pink;
  padding: 150px 100px 100px 100px;
  text-align: center;
  background-color: #effdf3;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* justify-content: space-between; */
  margin: auto;
  /* max-width: 960px; */
  width: 100%;
  background-color: white;
}

.container__content {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-content: center;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  font-size: 3em;
  justify-content: center;
  /* margin-bottom: 1em; */
  height: 40vw;
  width: 50%;
  position: relative;
}

.container__img1 {
  -webkit-box-shadow: 30px 30px #fdfa60;
          box-shadow: 30px 30px #fdfa60;
  width: 90%;
  position: absolute;
  top: -10%;
}

.container__img2 {
  -webkit-box-shadow: -30px 30px #fdfa60;
          box-shadow: -30px 30px #fdfa60;
  width: 90%;
  right: 0;
  position: absolute;
  bottom: 0%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
}

.navigation {
  background-color: #EFFDF3;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.navigation__content {
  padding: 20px 20px 0 20px;
  background-color: #EFFDF3;
}

.navigation__item {
  width: calc((100%/2) - 20px);
  /* margin: 10px; */
  min-width: 220px;
  background-color: #EFFDF3;
  text-align: left;
}

.navigation__title {
  position: relative;
}

.navigation__title::before {
  content: "\f15b";
  font-family: "FontAwesome";
  width: 35px;
  height: 35px;
  font-size: 25px;
  text-align: center;
  border-radius: 100px;
  position: absolute;
  left: -40px;
  top: 5px;
  background: #4ceea7;
}

.banner {
  background-image: url(/captured-final-assets/banner.jpg);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.profile {
  padding: 50px 0 50px 0;
  background: #EFFDF3;
}

.profile__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  -webkit-box-shadow: 20px 20px #fdfa60;
          box-shadow: 20px 20px #fdfa60;
  margin-right: 40px;
}

.profile__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 75%;
          flex: 1 0 75%;
  padding-left: 30px;
}

.gallery {
  border: red dotted 1px;
  padding-top: 30px;
}

.gallery__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__img {
  list-style: none;
  width: 30%;
}

footer {
  text-align: center;
  background: #2C2C2C;
  margin-top: 40px;
}

.blogbox {
  color: red;
  height: 30px;
  border: red dotted 3px;
}
